### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/Lesson_07/
/src/Lesson_08/
/src/Lesson_09/
/src/AbstractTraining_1.java
/src/Interf.java
/src/Main.java
/src/Training.java
/src/Upc.java
/src/Lesson_07/
